@font-face {
  font-family: 'Prompt';
  src:url('./Prompt-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src:url('./Prompt-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: bold;
}

.Rectangle-474 {
  width: 100%;
  height: 40px;
  background-color: #02c488;
  display: flex;
}
.Bibendum-posuere-curabitur {
  margin: auto;
  width: 224px;
  height: 21px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
  font-family: Prompt;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.Rectangle-490 {
  width: 100%;
  height: 81px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  margin: auto;
}
.menubar {
  display: flex;
  margin: auto;
}
.GET-A-QUOTE {
  width: 95px;
  height: 21px;
  font-family: Prompt;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.menu {
  margin: auto;
  padding: 20px;
  font-family: Prompt;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
.Rectangle-751 {
  width: 118px;
  height: 30px;
  object-fit: contain;
  background-color: #1ec488;
  display: flex;
  float: left;
  margin: auto;
}
.Test {
  width: 100%;
  height: 2847px;
  background-color: #ffffff;
}
.Rectangle-598 {
  padding-left: 5%;
  padding-right: 5%;
  height: 50px;
  background-color: #333333;
}
.foottext {
  margin: auto;
  text-align: center;
}
.Est-orci-lobortis {
  float: left;
  width: 102px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Viverra-tellus {
  float: right;
  width: 86px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.Rectangle-483 {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #39bdca -58%, #02c488);
}
.Rectangle-675 {
  width: 100%;
  height: 60px;
  border: solid 1px #e5e5e5;
  background-color: #f8f8f8;
  display: flex;
  margin: auto;
}
.BLOG {
  margin: auto;
  vertical-align: middle;
  width: 50px;
  height: 28px;
  font-family: Prompt;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-align: left;
  color: #333333;
}
.rightBar {
  float: right;
  margin: auto;
}
.path {
  margin: auto;
  width: 108px;
  height: 21px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: right;
  color: #777777;
}
.Mask-Group-47 {
  width: 100%;
  height: 500px;
  object-fit: contain;
  position: absolute;
}

.content {
  width: 80%;
  margin: auto;
}
.Rectangle-685 {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 2570px;
  background-color: #ffffff;
  position: relative;
  padding-top: 10%;
}

.Rectangle-710 {
  margin: auto;
  vertical-align: middle;
  width: 200px;
  height: 40px;
  background-image: linear-gradient(259deg, #39bdca, #02c488);
}

.MARKETING {
  margin: auto;
  width: 116px;
  height: 30px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.BY-MARKETING-TEAM {
  width: 211px;
  height: 30px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #39bdca;
}

.date {
  width: 121px;
  height: 30px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.author {
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

.title {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  height: 92px;
  font-family: Prompt;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.Mask-Group-50 {
  margin-top: 5%;
  width: 100%;
  height: 313px;
  object-fit: contain;
}

.quote {
  width: 778px;
  height: 91px;
  font-family: Sarabun;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.otro-blockquote{
  font-size: 1.4em;
  width:90%;
  margin:50px auto;
  font-family:Open Sans;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
}

.otro-blockquote::before{
  font-family:Arial;
  content: '“';
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  font-family:Arial;
  content: '”';
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  right: 10px;
  bottom: -30px;
}

.Velit-neque-posuere {
  width: 100%;
  height: 46px;
  font-family: Prompt;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.h3BLOG {
  width: 100%;
  height: 30px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.Curabitur {
  width: 100%;
  height: 148px;
  font-family: Sarabun;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.Nunc {
  width: 100%;
  height: 148px;
  font-family: Sarabun;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.related {
  float: left;
  width: 100%;
  height: 30px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.Rectangle-699 {
  float: right;
  width: 100%;
  height: 1px;
  background-color: #02c488;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
}

.bycolumn {
  width: 148px;
  height: 21px;
  font-family: Prompt;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #39bdca;
}

.datecolumn {
  width: 85px;
  height: 21px;
  font-family: Prompt;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.titlecolumn {
  width: 403px;
  height: 60px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.MARKETINGcolumn {
  margin: auto;
  width: 81px;
  height: 21px;
  font-family: Prompt;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Rectangle-710co {
  margin-top: 10%;
  width: 121px;
  height: 24px;
  background-image: linear-gradient(259deg, #39bdca, #02c488);
}

.Rectangle-741 {
  width: 380px;
  height: 230px;
  border: solid 1px #e5e5e5;
  background-color: #bfbfbf;
}

.Rectangle-597 {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}

.Rectangle-752 {
  float: left;
  margin: auto;
  width: 195px;
  height: 50px;
  object-fit: contain;
  background-color: #1ec488;
}

.footcontent {
  margin: auto;
  text-align: center;
}
/* .contentfooter1 {
  float: right;
  width: 923px;
  height: 76px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.contentfooter2 {
  color: #777777;
} */